.contato-container {
	/*border: 2px solid;*/
	height: 80%;
	text-align: center;
}

.contato-campo-nome {
	width: 30%;
	margin-right: 1%;
	margin-top: 5%;
	background-color: #ece9e9;
	border: none;
	height: 6%;
}

.contato-campo-email {
	width: 30%;
	background-color: #ece9e9;
	border: none;
	height: 6%;
}

.contato-campo-assunto {
	margin-top: 1%;
	width: 61.25%;
	background-color: #ece9e9;
	border: none;
	height: 6%;
}

.contato-campo-mensagem {
	margin-top: 1%;
	width: 61.25%;
	background-color: #ece9e9;
	border: none;
	height: 40%;
}

.contato-primeira-linha {
	/*border: 2px solid;*/
}

.contato-enviar {
	margin-top: 1%; 
	width: 61.25%;
	background-color: #4083ff;
	color: white;
	border: none;
	height: 8%;
}

.endereco {
	margin-left: 20%;
}

.endereco-texto {
	color: gray;
}