.passos-container {
	padding-top: 8%;
	height: 80%;
	margin-top: 10%;
	background-color: #6699FF;
}

.passo-item {

	color: white;
	width: 14.28%;
	text-align: center;
	font-size: 110%;
	float: left;
	margin-left: 5%;
}

.passo-item-cabecalho {
	color: white;
	font-size: 150%;
	font-weight: bold;
}

.passo-item img {
	width: 70%;
	border-radius: 50%;	
}