.horario {
  border: 3px solid #a1d6e2;
  width: 40%;
  height: 20%;
  display: inline-block;
  background-color: #1995ad;
}

.foto {
  /*float: left;*/
  /*width: 20%;*/
  margin-bottom: 20px;
  display: inline-block;
}

.usuario {
  display: inline-block;
  /*float: right;*/
  /*margin-left: 20px;*/
}

.imagem-avatar {
  height: 50px;
  border-radius: 4px;
}

p {
  font: Times New Roman;
  color: #f1f1f2;
}
